span {
    font-family: monospace;
    font-size: x-large;
}
body {
    background-color: #0b1722;
}
  
h1, h2, h3 {
    color: aliceblue;
    font-family: monospace;
    text-align: center;
}
p, li {
    color: aliceblue;
    font-family: monospace;
    font-size: 22px;
    text-align: center;
}
a {
    color: cornflowerblue;
    font-family: monospace;
}